<h2 mat-dialog-title *ngIf="!!data.title">{{ data.title }}</h2>
<div mat-dialog-content *ngIf="!!data.content">{{ data.content }}</div>
<mat-dialog-actions *ngIf="buttonsArray().length">
  <ng-container *ngFor="let button of buttonsArray()">
    <ng-container *ngIf="button.show" [ngSwitch]="button.type">
      <button
        *ngSwitchCase="'raised'"
        mat-raised-button
        [mat-dialog-close]="button === data.acceptButton ? '' : null"
        [ngClass]="button === data.acceptButton ? 'acceptButton' : 'rejectButton'"
      >
        {{ button.title }}
      </button>
      <button
        *ngSwitchCase="'stroked'"
        [attr.mat-stroked-button]="button.type === 'stroked'"
        [mat-dialog-close]="button === data.acceptButton ? '' : null"
        [ngClass]="button === data.acceptButton ? 'acceptButton' : 'rejectButton'"
      >
        {{ button.title }}
      </button>
      <button
        *ngSwitchCase="'flat'"
        mat-flat-button
        [mat-dialog-close]="button === data.acceptButton ? '' : null"
        [ngClass]="button === data.acceptButton ? 'acceptButton' : 'rejectButton'"
      >
        {{ button.title }}
      </button>
      <button
        *ngSwitchDefault
        mat-button
        [mat-dialog-close]="button === data.acceptButton ? '' : null"
        [ngClass]="button === data.acceptButton ? 'acceptButton' : 'rejectButton'"
      >
        {{ button.title }}
      </button>
    </ng-container>
  </ng-container>
</mat-dialog-actions>
