<h2 mat-dialog-title *ngIf="!!data.title">{{ data.title }}</h2>
<div mat-dialog-content *ngIf="!!data.content">{{ data.content }}</div>
<mat-dialog-actions *ngIf="buttonsArray().length">
  <ng-container *ngFor="let button of buttonsArray()">
    <button
      mat-button
      [attr.mat-raised-button]="button.type === 'raised' ? '' : null"
      [attr.mat-stroked-button]="button.type === 'stroked' ? '' : null"
      [attr.mat-flat-button]="button.type === 'flat' ? '' : null"
      [mat-dialog-close]="button === data.acceptButton ? true : null"
      [ngClass]="button === data.acceptButton ? 'acceptButton' : 'rejectButton'"
      [attr.data-test-id]="
        'app-confirm-dialog_' +
        (data.acceptButton ? 'acceptButton' : 'rejectButton')
      "
    >
      {{ button.title }}
    </button>
  </ng-container>
</mat-dialog-actions>
