<mat-toolbar class="mat-elevation-z5" color="primary" *ngIf="config">
  <span class="configTitle">{{ config.title }}</span>
  <span class="toolbar-spacer"></span>
  <span class="buttons">
    <ng-container *ngFor="let button of config.buttons">
      <button
        mat-icon-button
        [title]="button.title"
        [attr.aria-label]="button.title"
        [disabled]="button.disabledObserver() | async"
        (click)="button.onClick()"
      >
        <mat-icon *ngIf="!!button.icon">{{ button.icon }}</mat-icon>
        <span class="title" *ngIf="!button.icon">{{ button.title }}</span>
      </button>
    </ng-container>
  </span>
</mat-toolbar>
