<mat-card class="dice" id="diceOptions">
  <mat-card-title>Dice</mat-card-title>
  <mat-card-subtitle>Select the rolled face for each die.</mat-card-subtitle>
  <mat-card-content>
    <app-dice
      [dice]="dice"
      (faceChanged)="onDiceFaceChanged($event)"
    ></app-dice>
  </mat-card-content>
</mat-card>

<br />
<button (click)="toggleWasm()">Wasm Enabled: {{ solverWorkerService.useWasm }}</button>
<button (click)="reload()">Reload</button>

<mat-card class="results">
  <mat-card-title>
    Results
    <span
      *ngIf="
        calculateState === calculateStates.PROCESSED &&
        calculateResultArray.length > 0
      "
    >
      ({{ calculateResultArray.length }})</span
    >
  </mat-card-title>

  <mat-card-content
    class="loading"
    *ngIf="calculateState === calculateStates.PROCESSING"
  >
    <p><mat-spinner></mat-spinner></p>
    Loading
  </mat-card-content>

  <mat-card-content
    class="none processedState"
    *ngIf="
      calculateState === calculateStates.PROCESSED &&
      calculateResultArray.length === 0
    "
    >No equations could be determined.</mat-card-content
  >

  <div
    class="data processedState"
    *ngIf="
      calculateState === calculateStates.PROCESSED &&
      calculateResultArray.length > 0
    "
  >
    <mat-card-subtitle>
      <div>Jump to solution:</div>
      <div>
        <span class="jumpButtonWrapper" *ngFor="let solution of solutions">
          <button
            mat-stroked-button
            (click)="jumpToResultIndex(solution.firstResultIndex)"
            [attr.data-test-id]="'jumpTo_' + solution.total"
            class="jumpToSolutionButton"
          >
            {{ solution.total }}
          </button>
        </span>
      </div>
    </mat-card-subtitle>

    <mat-card-content class="equations">
      <mat-selection-list [multiple]="false">
        <ng-container
          *uiScroll="
            let calculateResultWithEquation of calculateResultArrayDataSource
          "
        >
          <mat-divider
            [ngStyle]="{
              visibility: calculateResultWithEquation.isFirstSolution
                ? 'visible'
                : 'hidden'
            }"
          ></mat-divider>
          <mat-list-option
            [value]="calculateResultWithEquation.fullEquation"
            class="equation"
          >
            <span appMathJax>{{
              calculateResultWithEquation.fullEquation
            }}</span>
          </mat-list-option>
        </ng-container>
        <mat-divider></mat-divider>
      </mat-selection-list>
    </mat-card-content>
  </div>
</mat-card>

<app-scroll-to-top
  [visibleAfterElementQuery]="'#diceOptions'"
  [offsetElementQuery]="'#appToolbar'"
  [beforeScroll]="reloadResultsToStart"
></app-scroll-to-top>
