.results {
  mat-card-subtitle {
    margin-bottom: 0;
  }

  mat-list-option {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.scrollToTopButton {
  position: fixed;
  right: 1em;
  bottom: 1em;
}
