section {
  margin-bottom: 1em;
}

.configuration {
  .boardConfig {
  }

  .diceConfig {
    //.die {
    //  margin-right: 1em;
    //}
  }
}

.results {
  mat-list-option[aria-selected="true"] {
    background-color: rgba(0, 0, 0, 0.09);
  }

  mat-list-option .mat-pseudo-checkbox {
    display: none !important;
  }
}
