.results {
  mat-card-subtitle {
    margin-bottom: 0;

    .jumpButtonWrapper {
      display: inline-block;
      padding: 0.1em;
    }
  }

  .equations {
    mat-list-option {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
}

:host {
  ::ng-deep .results .equations .mat-pseudo-checkbox {
    display: none !important;
  }
}
