<form [formGroup]="formGroup" *ngIf="!!formGroup && !!configuration">
  <mat-card class="theme">
    <mat-card-title>Theme</mat-card-title>
    <mat-card-subtitle>Specifies how the app should look.</mat-card-subtitle>
    <mat-card-content>
      <mat-selection-list formControlName="theme" [multiple]="false">
        <mat-list-option
          *ngFor="let themeConfig of availableThemeConfigs"
          [value]="themeConfig.theme"
          checkboxPosition="before"
        >
          <mat-radio-button [checked]="isThemeChecked(themeConfig.theme)">{{
            themeConfig.name
          }}</mat-radio-button>
        </mat-list-option>
      </mat-selection-list>
    </mat-card-content>
  </mat-card>

  <br />

  <mat-card>
    <mat-card-title>Operations</mat-card-title>
    <mat-card-subtitle
      >Expand the game with additional operations.</mat-card-subtitle
    >
    <mat-card-content>
      <mat-selection-list formControlName="operations">
        <mat-list-option
          checkboxPosition="before"
          *ngFor="let operation of availableOperations"
          [value]="operation.id"
        >
          <div mat-line class="operationName">{{ operation.name }}</div>
          <app-math-jax
            mat-line
            [equation]="getFullExampleEquation(operation)"
          ></app-math-jax>
        </mat-list-option>
      </mat-selection-list>
    </mat-card-content>
  </mat-card>

  <br />

  <mat-card>
    <mat-card-title>Board Size</mat-card-title>
    <mat-card-subtitle
      >For the adventurous, choose a larger board.</mat-card-subtitle
    >
    <mat-card-content formGroupName="board">
      <mat-form-field>
        <mat-label>Min Board Number (inclusive)</mat-label>
        <input
          #minBoardSize
          matInput
          type="number"
          min="1"
          formControlName="minSize"
          required
          (click)="inputSelectAll($event.target)"
          data-testid="boardMinNumber"
        />
        <mat-hint>Minimum number on the board (default: 1)</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Max Board Number (inclusive)</mat-label>
        <input
          matInput
          type="number"
          [min]="+minBoardSize.value + 1 || 1"
          formControlName="maxSize"
          required
          (click)="inputSelectAll($event.target)"
        />
        <mat-hint>The maximum number on the board (default: 36)</mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <br />

  <mat-card>
    <mat-card-title>Dice</mat-card-title>
    <mat-card-subtitle
      >The dice and faces to use for generating equations. Warning: Increasing
      number of dice beyond 4 will result in considerably slower
      runs.</mat-card-subtitle
    >
    <mat-card-content formArrayName="dice">
      <ng-container
        *ngFor="let dieConfiguration of configuration.dice; index as dieIndex"
      >
        <mat-form-field [formGroupName]="dieIndex">
          <mat-label>Die #{{ dieIndex + 1 }}</mat-label>
          <input
            matInput
            type="number"
            min="1"
            max="10"
            formControlName="faceCount"
            (click)="inputSelectAll($event.target)"
            data-testid="faceCount"
            required
          />
        </mat-form-field>
        <br />
      </ng-container>
      <mat-card-actions>
        <button
          type="button"
          mat-stroked-button
          (click)="addDie()"
          title="Add Die"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          type="button"
          mat-stroked-button
          (click)="removeDie()"
          title="Remove Die"
        >
          <mat-icon>remove</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <br />
  <div class="resetButton">
    <button
      mat-flat-button
      color="warn"
      [ngStyle.lt-md]="{ width: '100%' }"
      (click)="resetToDefaults()"
    >
      Reset all configuration to defaults
    </button>
  </div>
</form>
