<div class="app" *ngIf="isMathJaxInitialized">
  <router-outlet></router-outlet>

  <div class="appTheme">
    <mat-button-toggle-group
      name="appTheme"
      aria-label="App Theme"
      [value]="getBrightnessSetting()"
      (change)="onBrightnessSettingChanged($event)"
    >
      <mat-button-toggle aria-label="Dark Theme" value="dark"
        ><mat-icon>brightness_low</mat-icon></mat-button-toggle
      >
      <mat-button-toggle aria-label="Auto" value="auto"
        ><mat-icon>brightness_auto</mat-icon></mat-button-toggle
      >
      <mat-button-toggle aria-label="Light Theme" value="light">
        <mat-icon>brightness_high</mat-icon></mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>

  <a href="https://github.com/vangorra/muggins_calculator">Github Project</a>
</div>

<span class="mathjax_process" style="display: none">`x`</span>

<ngx-scrolltop></ngx-scrolltop>
