<div>
  <mat-form-field>
    <mat-label>Faces</mat-label>
    <mat-select [formControl]="selectedFaceCount">
      <mat-option *ngFor="let faceCountOption of faceCountOptions" [value]="faceCountOption">
        {{faceCountOption}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <mat-radio-group [formControl]="selectedFace" class="faceOptions">
    <mat-label>Face</mat-label>
    <mat-radio-button *ngFor="let face of getFaceOptions()" [value]="face" class="faceOption">
      {{face}}
    </mat-radio-button>
  </mat-radio-group>
</div>
